* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  color: #7a7a7a;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  padding: 0 30px;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #3c4043;
  position: fixed;
  top: 0%;
  left: 0%;
}

.up-part {
  height: 60px;
  line-height: 60px;
}

.up-part img {
  vertical-align: middle;
}

.up-part h2 {
  display: inline-block;
  font-size: 21px;
  font-weight: 100;
}

nav {
  height: 50px;
  line-height: 50px;
}

.menu li {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.account {
  display: inline-block;
  float: right;
}

main {
  width: 75%;
  margin: 0 auto;
  margin-top: 110px;
  height: calc(100% - 110px);
  padding-top: 40px;
}

.list-qa {
  margin-top: 60px;
}

.list-qa h2 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #3c4043;
}

.list-qa p {
  line-height: 27px;
  font-size: 14px;
}

.list-qa p span {
  color: #3367d6;;
  cursor: pointer;
}
